.right
{
position:absolute;
right:0px;
}

.box{
    display: block;
    width: 1px;
    height: 1px;
    margin-top: 10px;
    margin-left: 10px;
    transition-duration:1s;
    transition-delay:1s;
}

a:hover ~ .box,.box:hover{
    display: block;
    position: relative;
    width: 500px;
    height: 500px;
}