/* 
    Document   : admin
    Created on : Mar 3, 2014, 11:39:53 AM
    Author     : MrHung
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.blue {
    border-color: #447294;
    color: #447294;
}

.big-btn{
    width: 227px;
    height: 47px;
    background: none;
    border-color: #447294;
    color: #447294;
}

.fload-left{
    float: left;
    margin-right: 20px;
}

* {
 font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}





