#wrapper-maps {
	text-align: left;
	width:800px;
	margin:0 auto;
}
#form_map {
	width:100%;
	clear:both;
	margin-bottom:20px;
}
#result {
	padding:20px;
	border:dashed 1px #aaa;
}
/*
.field {
	padding:3px;
	border:solid 1px #aaa;
}
.button {
	padding:3px 10px;
	border:solid 1px #555;
	cursor:pointer;
}
*/
#map_canvas {
	width:100%;
	height:500px;
}
